<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>Paperknife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= action_cable_meta_tag %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>
  <body class="h-full <%= controller_name -%>_<%= action_name -%>">
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
          <%= yield(:title) || "Paperknife" %>
        </h2>
      </div>
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
